body {
	font-family:helvetica;
	font-size:23px;
	width:100%;
    height:100%;
    background-size: 100%;
	background-image: url("cinema_background.jpg");
}

.filmdescription{
    width:400px;
    height:300px;
    background-color:yellow;
}

.filmcover{
    width:150px;
    margin-left:80px;
}

.main{
    width: 1200px;
    height: 100%;
    padding-left: 260px;
}

.content-wrapper {
	width:1200px;
	background-color: rgba(100, 15, 15, 0.9);//#ca7929;
	margin:auto;
	margin-top:100px;
	height:800px;
	overflow:hidden;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.bar {
	width:100%;
	height:60px;
	border-bottom: 2px solid rgba(210, 210, 210, 1.0);
	background-color: rgba(90, 4, 4, 0.9);//#de0c0c;
}

.baritem {
	width:25%;
	height:100%;
	border-right: 2px solid rgba(165, 40, 40, 1.0);
	float:left;

	text-align:center;
	white-space:nowrap;
	line-height:50px;
	cursor:pointer;
	color: rgba(210, 210, 210, 1.0);
}

.baritemls{
    width:12.5%;
	height:100%;
	border-right: 2px solid #A43021;
	float:left;

	text-align:center;
	white-space:nowrap;
	line-height:50px;
	cursor:pointer;
}

#firstbaritem {
	width:250px;
}

.sidebar, .gruppenaw, .terminfindung, .chat {
	height:740px;
	float:left;
}

.sidebar {
	width:250px;
	height:100%;
	background-color: rgba(127, 15, 15, 0.9);//#de0c0c;
	border-right: 2px solid rgba(165, 40, 40, 1.0);
}

.sidebaritem {
	width:100%;
	height:60px;
	background-color: rgba(127, 15, 15, 0.9);//#de0c0c;
	border-bottom: 2px dotted rgba(165, 40, 40, 1.0);
}

.sidebaritem:hover {
	background-color: rgba(165, 40, 40, 1.0);//#de0c0c;
}
.gruppenaw {
	width:950px;
	background-color: rgba(127, 15, 15, 0.9);
}

.gruppenawitem {
	width:100%;
	height:90px;
	background-color: rgba(127, 15, 15, 0.9);//#de0c0c;
	border-bottom: 2px dotted rgba(165, 40, 40, 1.0);
	color: rgba(210, 210, 210, 1.0);
}

.gruppenawitem:hover {
	background-color: rgba(165, 40, 40, 1.0);//#de0c0c;
}

.terminfindung {
	width:650px;
	background-color: rgba(100, 15, 15, 0.9);
	overflow:auto;
	color: rgba(210, 210, 210, 1.0);
}
.chat {
	width:300px;
	background-color: rgba(127, 15, 15, 0.9);//#de0c0c;
	border-left: 2px solid rgba(165, 40, 40, 1.0);
}

.chatverlauf {
	height:700px;
	width:100%;
}

a, a:hover, a:visited, a:focus {
	color: rgba(210, 210, 210, 1.0);
}

.profile-pic, .profile-pic2{
	width:40px;
	height:40px;
	margin:10px;
	border-radius:20px;
	float:left;
	background-color:lime;
	background-image:url("default.jpeg");
	background-repeat:no-repeat;
	background-position:center center;
	background-size:cover;
	overflow:hidden;
}

.profile-pic2{
    width:230px;
    height:230px;
    border-radius:115px;
    margin:40px;
}

.Profilangaben{
    padding-top:80px;
    color: rgba(210, 210, 210, 1);
}

.gruppe, .group-pic{
    background-image:url("gruppenbild.png");
}

.small-margin {
    margin:2px;
}


.hover-highlight, .tick {
    width:100%;
    height:100%;
    background-color:rgba(255,255,255,0);
}

.tick {
    background-image:url("tick.png");
}

.tickv {
    overflow:visible;
    background-color:white;
    background-image:none;
}


.hover-highlight:hover {
    background-color:rgba(255,255,255,0.4);
}

.group-pic {
	width:60px;
	height:60px;
	margin:15px;
	border-radius:30px;
	float:left;
	background-color:lime;
	background-repeat:no-repeat;
    	background-position:center center;
    	background-size:cover;
    	overflow:hidden;
}

.vorschlag {
	width:23.75%;
	height:23.75%;
	margin:1% 0px 0px 1%;
	float:left;
	background-color:rgba(120, 50, 50, 1.0);
	font-size:16px;
}

.vorschlag:hover {
	background-color:rgba(165, 30, 30,0.75);
}

.thumbnail {
	width: 90%;
	margin: auto;
	margin-top: 5%;
	height: 78px;
	background-color: white;
	background-repeat:no-repeat;
        	background-position:center center;
        	background-size:cover;

}
.vorschlagcontent {
	width:90%;
	margin:auto;
	height:45%;
}
.vorschlagtext{
	width:70%;
	float:left;
}
.vorschlagbewertung {
	width:30%;
	height:100%;
	float:left;
}

.vote {
	margin: auto;
	width: 83%;
	height: 40%;
	margin-top: 10%;
	margin-bottom: 10%;
	border-radius: 5px;
	background-color: white;
}


.pop-up {
    display:none;
    margin:auto;
    position:absolute;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    width:1000px;
    height:600px;
    background-color:#902319;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    /*left:-50%;
    top:-50%;*/
}

.pop-up1, .pop-up2, .pop-up3, .pop-up4{
    display:none;
}

.datenfeld, .beschreibung{
    color:white;
    font-size:16px;
    float:left;
}

.platzhalterbild {
    background-color:white;
    width:250px;
    height:300px;
    margin:5px 20px 0px 5px;
    float:left;
    border-radius: 5px;
}

.beschreibung {
    width:990px;
    text-align:justify;
    margin:5px 0 0 5px;
}

.watching {
    position:absolute;
    bottom:0px;
    margin-bottom:10px;
    width:100%;
}

.sp {
float:right;
}